{{> barra-nav }}
 {{> message }}
<div class="container">
    
    <div class="card formulario-clientes">
        <div class="center-align">
    <h1 class="center-align principal">Iniciar sesión</h1>
    </div>
    <form action="/ingresar" method="post">
        <div class="">
            <input type="text" class="" name="username" placeholder="Username" autofocus>
        </div>
        <div class="">
            <input type="password" name="password" class="password" placeholder="Contraseña">
        </div>
        <div class="right-align">
            <button class="btn">
                Ingresar
            </button>
        </div>
    </form>
</div>
</div>
