<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Ingeniera de Software</h1>
            <h3 class="mb-5">
                 <i class="fas fa-edit"></i>
                <em>Vamos a la monitorizacion</em>
            </h3>
            <a href="monitoreo/principal" class="btn btn-success">
               Vamos!
            </a>
        </div>
    </header>
</main>