{{> barra-nav }}
{{> navegacion-privada }}
{{> config-temp }}
{{> config-hum }}
{{> config-dist }}
<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Ingeniera de Software</h1>
            <h3 class="mb-5">
                 <i class="fas fa-edit"></i>
                <em>Vamos a la monitorizacion</em>
            </h3>
            <a href="monitoreo/principal" class="btn btn-success">
               Vamos!
            </a>
            {{#if user}}
            {{else}}
            <a href="/signin" class="btn btn-success">
               Administrador
            </a>
            {{/if}}
        </div>
    </header>
</main>
<script src="/js/sweetalert2.min.js"></script>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/js/temperatura.js"></script>