/* Modificaciones a vistas de monitoreo */
.principal{
    font-family: 'Jomolhari', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}
.sub-principal{
    font-family: 'Jomolhari', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}
.title{
    font-family: 'Jomolhari', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px!important;
    font-weight: bold!important;
}
p{
    font-family: 'Jomolhari', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}
.datos{
    font-family: 'Jomolhari', serif;
    font-family: 'Open Sans Condensed', sans-serif;
}
.fab{
    font-size: 30px;
}
.fas{
    font-size: 30px;
}
.fa-trash{
    margin-top: 10px!important;
    padding-right: 72px!important;
    color: red;
}
.fa-asterisk{
    padding-right: 72px!important;
}
.tecnologias{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.nombre-sistema{
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .nombre-sistema {
      font-size: 15px!important;
    }
  }

.grafica{
    margin-left: 90px;
    margin-right: 50px;
}
.container-grafica{
    width: 1200px;
}
.container{
    width: 85%;
}

.informacion{
    font-size: 30px;
    padding-top: 10px;
}
.collection-item{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.fecha{
    margin-right: 35px;
}


/* Modificacion a vistas de administracion */

.formulario-clientes{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.fa-eye{
    font-size: 22px;
}

.fa-edit{
    font-size: 22px;
}

.fa-trash-alt{
    font-size: 22px;
}
.nombre-sistema-admin{
    margin-left: 25px;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
}