<link rel="stylesheet" href="/css/estilos.css">
<nav class="teal">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right nombre-sistema">Sistema de Monitorizacion</a>
    </div>
</nav>

