<link rel="stylesheet" href="/css/estilos.css">
<nav class="blue green lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left nombre-sistema-admin ">Sistema de Monitorizacion</a>
    </div>
</nav>

