
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Configuracion de Temperaturas de Alerta</h4>
      <form action="/monitoreo/datos" method="post">
      {{#each minandmax}}
       <p>Minimo:</p>
       <input type="number" class="form-control" name="minimo" id="minimo" value="{{minimo}}">
       <p>Maximo:</p>
       <input type="number"  class="form-control" name="maximo" id="maximo" value="{{maximo}}">
      {{/each}}
       <div class="modal-footer">
            <button class="btn waves-effect waves-green btn-flat">Guardar</button>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
        