 <!-- Modal Structure -->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Configuracion de Distancia de Alerta</h4>
      <form action="/monitoreo/graficaDist" method="POST">
      {{#each minandmax}}
       <p>Minimo:</p>
       <input type="number" min="1" max="50" class="form-control" name="minimo" id="minimo" value="{{minimo}}">
       <p>Maximo:</p>
       <input type="number" min="1" max="50" class="form-control" name="maximo" id="maximo" value="{{maximo}}">
      {{/each}}
      
       <div class="modal-footer">
            <button class="btn waves-effect waves-green btn-flat">Guardar</button>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
