 <!-- Modal Structure -->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Configuracion de Distancias de Alerta</h4>
      <form action="/" method="post">
       <p>Minimo:</p>
       <input type="number" class="form-control" name="minimo" id="minimo">
       <p>Maximo:</p>
       <input type="number"  class="form-control" name="maximo" id="maximo">
      
       <div class="modal-footer">
            <button class="btn waves-effect waves-green btn-flat">Guardar</button>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
        