<div class="container section">
  <a href="#" class="sidenav-trigger" data-target="menu-side">
    <i class="fas fa-bars"></i>
  </a>
  <ul id="menu-side" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="/images/monitoreo.jpg">
        </div>
        <a href="#name">
          <span class="white-text name">John Doe</span>
        </a>
        <a href="#email">
          <span class="white-text email">jdandturk@gmail.com</span>
        </a>
      </div>
    </li>
    <li class="">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Sensores</a>
          <div class="collapsible-body">
            <ul>
              <li class="">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header"><i class="fas fa-thermometer-three-quarters"></i>Temperatura</a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="#!">Monitoreo</a></li>
                        <li><a href="#!">Grafica</a></li>
                        <li><a href="#!">Datos de Riesgo</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header"><i class="fas fa-tint"></i>Humedad</a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="#!">Monitoreo</a></li>
                        <li><a href="#!">Grafica</a></li>
                        <li><a href="#!">Datos de Riesgo</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header"><i class="fas fa-ban"></i>Distancia</a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="#!">Monitoreo</a></li>
                        <li><a href="#!">Grafica</a></li>
                        <li><a href="#!">Datos de Riesgo</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Configuraciones</a></li>
    <li><a class="waves-effect" href="#!">Sensores</a></li>
    <li><a class="waves-effect" href="#!">Usuarios</a></li>
    <li><a class="waves-effect" href="#!">Cerrar Sesion</a></li>
  </ul>




</div>

