{{#if user}}
<div class="container section">
  <a href="#" class="sidenav-trigger" data-target="menu-side">
    <i class="fas fa-bars"></i>
  </a>
  <ul id="menu-side" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="/images/monitoreo.jpg">
        </div>
        <a href="#name">
          <span class="white-text name">{{user.fullname}}</span>
        </a>
        <a href="#email">
          <span class="white-text email">{{user.username}}</span>
        </a>
      </div>
    </li>
    <li class="">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Sensores</a>
          <div class="collapsible-body">
            <ul>
              <li class="">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header"><i class="fas fa-thermometer-three-quarters"></i>Temperatura</a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="/monitoreo/principal">Monitoreo</a></li>
                        <li><a href="/monitoreo/grafica">Grafica</a></li>
                        {{!-- <li><a href="#!">Datos de Riesgo</a></li> --}}
                      
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header"><i class="fas fa-tint"></i>Humedad</a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="/monitoreo/humedad">Monitoreo</a></li>
                        <li><a href="/monitoreo/graficaHume">Grafica</a></li>
                        {{!-- <li><a href="#!">Datos de Riesgo</a></li> --}}
                       
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header"><i class="fas fa-ban"></i>Distancia</a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="/monitoreo/distancia">Monitoreo</a></li>
                        <li><a href="/monitoreo/graficaDist">Grafica</a></li>
                        {{!-- <li><a href="#!">Datos de Riesgo</a></li> --}}
                       
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
               <li class="">
                <ul class="collapsible collapsible-accordion">
                  <li>
                   <a class="modal-trigger" href="#modal3">Configuracion</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Configuraciones</a></li>
    {{#if user.es_clientePrincipal}}
    <li><a class="waves-effect" href="/usuarios">Usuarios</a></li>
    {{/if}}
    
    <li><a class="waves-effect" href="/cerrarsesion">Cerrar Sesion</a></li> 
    
  </ul>




</div>
{{/if}}

