{{> barra-nav }}
{{> navegacion-privada }}
{{> config-temp }}
{{> config-hum }}
{{> config-dist }}
<div class="container">
    <div class="center-align">
    <h1 class="center-align principal">Informe de Registros de Riesgo</h1>
    <div class="center-align">
    <h4 id="temperature" class="center-align datos"></h4>
    <h4 id="temperatura" class="center-align datos"></h4>
</div>
    </div>
<ul class="collection">
    <li class="collection-item avatar" id="dato-riesgo">
        <a href="#!" class=""><i class="fas fa-asterisk"></i></a>
      <span class="title">Temperatura</span>
      <p class="informacion"> <span class="fecha">Fecha: 10/10/10</span>  Evento: Sobre calentamiento Temperatura 50°C 
      </p>
      <a href="#!" class="secondary-content"><i class="fas fa-trash"></i></a>
    </li>
    <li class="collection-item avatar">
        <a href="#!" class=""><i class="fas fa-asterisk"></i></a>
      <span class="title">Temperatura</span>
      <p class="informacion"><span class="fecha">Fecha: 10/10/10</span> Evento: Sobre calentamiento Temperatura 50°C 
      </p>
      <a href="#!" class="secondary-content"><i class="fas fa-trash"></i></a>
    </li>
    <li class="collection-item avatar">
      <a href="#!" class=""><i class="fas fa-asterisk"></i></a>
      <span class="title">Temperatura</span>
      <p class="informacion"><span class="fecha">Fecha: 10/10/10</span>  Evento: Enfriamiento Excesivo Temperatura 10°C 
      </p>
      <a href="#!" class="secondary-content"><i class="fas fa-trash"></i></a>
    </li>
    
  </ul>

</div>
<form id="form">
  <input type="text" name="mytext" id="mytext">
  <button>subir</button>
</form>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/js/temperatura.js"></script>
