{{> barra-nav }}
{{> navegacion-privada }}
{{> config-temp }}
{{> config-hum }}

<div class="container">
    <div class="center-align">
    <h1 class="center-align principal">Informe de Registros de Riesgo</h1>
    </div>
<ul class="collection">
    <li class="collection-item avatar">
        <a href="#!" class=""><i class="fas fa-asterisk"></i></a>
      <span class="title">Temperatura</span>
      <p class="informacion"> <span class="fecha">Fecha: 10/10/10</span>  Evento: Sobre calentamiento Temperatura 50°C 
      </p>
      <a href="#!" class="secondary-content"><i class="fas fa-trash"></i></a>
    </li>
    <li class="collection-item avatar">
        <a href="#!" class=""><i class="fas fa-asterisk"></i></a>
      <span class="title">Temperatura</span>
      <p class="informacion"><span class="fecha">Fecha: 10/10/10</span> Evento: Sobre calentamiento Temperatura 50°C 
      </p>
      <a href="#!" class="secondary-content"><i class="fas fa-trash"></i></a>
    </li>
    <li class="collection-item avatar">
      <a href="#!" class=""><i class="fas fa-asterisk"></i></a>
      <span class="title">Temperatura</span>
      <p class="informacion"><span class="fecha">Fecha: 10/10/10</span>  Evento: Enfriamiento Excesivo Temperatura 10°C 
      </p>
      <a href="#!" class="secondary-content"><i class="fas fa-trash"></i></a>
    </li>
    
  </ul>

</div>
 <!-- Modal Structure -->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Configuracion de Temperatura de Alerta</h4>
      <form action="/monitoreo/datos" method="POST">
       <p>Minimo:</p>
       <input type="number" class="form-control" name="minimo" id="minimo">
       <p>Maximo:</p>
       <input type="number"  class="form-control" name="maximo" id="maximo">
      
       <div class="modal-footer">
            <button class="btn waves-effect waves-green btn-flat">Guardar</button>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
        