<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Sistema De Monitorizacion</title>
     {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Jomolhari|Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/materialize.min.css">

    <style>
        .icon_style{
position: absolute;
right: 10px;
top: 10px;
font-size: 20px;
color: white;
cursor:pointer; 
}
    </style>
</head>
<body>
   
   
 {{{ body }}}
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          M.AutoInit();
  });
  const close = document.getElementById("alert_close");
  if(close){
  $('#alert_close').click(function(){
$( "#alert_box" ).fadeOut( "slow", function() {
});
});}
    </script>

    
</body>
</html>