{{> barra-nav-administracion }}
{{> message }}
<div class="container">
    <div class="card formulario-clientes">
        <div class="center-align">
            <h1 class="center-align principal">Lista de Clientes 
                {{user.fullname}}</h1>
        </div>
        <div class="right-align">
            <a href="#" class="btn agregar-clientes right-align">Agregar Clientes</a>
        </div>
        <div class="tabla-clientes center-align">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Sensores</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>Temperatura</td>
                        <td>
                            <a href="#" class=""><i class="fas fa-eye"></i></a>
                            <a href="#" class=""><i class="fas fa-edit"></i></a>
                            <a href="#" class=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>Temperatura <br> Humedad <br> Distancia</td>
                        <td>
                            <a href="#" class=""><i class="fas fa-eye"></i></a>
                            <a href="#" class=""><i class="fas fa-edit"></i></a>
                            <a href="#" class=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>Temperatura <br> Distancia</td>
                        <td>
                            <a href="#" class=""><i class="fas fa-eye"></i></a>
                            <a href="#" class=""><i class="fas fa-edit"></i></a>
                            <a href="#" class=""><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>